<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Biblioteca</title>
    <link rel="stylesheet" href="../static/emprestar_livros.css">
</head>
<body>
    <div class="box">
        <form action="/emprestar" method="POST">
            <fieldset>
                <legend><h1>Emprestimo de livros</h1></legend>
                <br>
                <div class="inputbox">
                    <label>Codigo Livro:</label><br>
                    <input type="text" name="codigo" class="inputuser" required><br>

                </div>
                <br>
                <div class="inputbox">
                    <label>Matricula do Aluno</label><br>
                    <input type="text" name="matricula"  class="inputuser" required><br>
                </div>
                <br>
                <br>
                <input type="submit" name="emprestar">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="page4">
                    <br>
                    <a href="/home" style="color: white">Voltar</a>

                </div>
                <div class="page5">
                    <br>
                    <a href="/" style="color: white">Encerrar Sessao</a>

                </div>


            </fieldset>
        </form>
    </div>

    <table border="1">
            <thead>
                <tr>
                    <th>Numero do Emprestimo</th>
                    <th>Codigo do livro</th>
                    <th>Matricula do Aluno</th>
                    <th>Nome do Livro</th>
                    <th>Data do Emprestimo</th>
                    <th>Nome do Aluno</th>
                </tr>
            </thead>
            <tbody>
                    {% for lista in listas %}
                         <tr>
                         <td>{{lista.idemprest}}</td>
                         <td>{{lista.id_obj}}</td>
                         <td>{{lista.nome_obj}}</td>
                         <td>{{lista.id_user}}</td>
                         <td>{{lista.nome_user}}</td>
                         <td>{{lista.data}}</td>
                         </tr>"
                    {% endfor %}
            </tbody>

     </table>
    <div class="busca">
        <p>Faca aqui a sua busca de Alunos:</p>
        <input type="search" class="search" placeholder="pesquisar" id="pesquisar" name="search">
        <button onclick="searchData()" type="submit">buscar</button>


    </div>
</body>

</html>