<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Biblioteca</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="box">
        <h1>Faça o seu login!</h1>
            <form action="/login" method="POST">

                <div class="loginbox">
                    <p>
                        <label>E-mail:</label>
                        <input type="text" id="email" name="email" class="inputuser">
                    </p>

                    <p>
                        <label>Senha:</label>
                        <input type="password" id="senha" name="senha" class="inputuser">
                    </p>

                    <p>
                        <button type="submit">Entrar</button>
                    </p>
                </div>
            </form>
    </div>
</body>
</html>